
.content {
    width: 1700px;
    height: 60px;
    background-color: #E6E6E6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.clear {
    clear: both;
}

.table {
    width: 630px;
    height: 100px;
    background-color: #A9E4D7;
    margin-left: 102px;
    text-align: center;
    float: left;
    padding: 5px;
    
    margin-top: 3px;
    
}

.table2 {
    width: 330px;
    height: 100px;
    background-color: #63B4B8;
    float: left;
    text-align: center;  
    padding: 5px;
    margin-left: 3px;
    margin-top: 3px;
}
/* tablolar arası boşluk ayarlandı,tabloların dizilişi ayarlandı*/

.table3 {
    width: 735px;
    height: 100px;
    background-color: #00A19D;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
    text-align: center;
}
